<!DOCTYPE html> 
<html lang="en">
	{% load static %}

<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="{%static 'assets/img/favicon.png'%}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
		<link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/all.min.css'%}">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/bootstrap-datetimepicker.min.css '%}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{%static 'assets/plugins/select2/css/select2.min.css'%}">
		
		<!-- Fancybox CSS -->
		<link rel="stylesheet" href="{%static 'assets/plugins/fancybox/jquery.fancybox.min.css'%}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
		
		
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header --
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
						
							{% comment %} <!-- Search Filter -->
							<div class="card search-filter">
								<div class="card-header">
									<h4 class="card-title mb-0">Search Filter</h4>
								</div>
								<div class="card-body">
								<div class="filter-widget">
									<div class="cal-icon">
										<input type="text" class="form-control datetimepicker" placeholder="Select Date">
									</div>			
								</div>
								<div class="filter-widget">
									<h4>Gender</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type" checked>
											<span class="checkmark"></span> Male Doctor
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type">
											<span class="checkmark"></span> Female Doctor
										</label>
									</div>
								</div>
								<div class="filter-widget">
									<h4>Select Specialist</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Urology
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Neurology
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Dentist
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Orthopedic
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Cardiologist
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Cardiologist
										</label>
									</div>
								</div>
									<div class="btn-search">
										<button type="button" class="btn btn-block">Search</button>
									</div>	
								</div>
							</div>{% endcomment %}
							<!-- /Search Filter -->
							<div class="breadcrumb-bar" style="background-color:#D81324;width:1500px;">
								<div class="container-fluid">
									<div class="row align-items-center">
										<div class="col-md-12 col-12">
											<nav aria-label="breadcrumb" class="page-breadcrumb">
												<ol class="breadcrumb">
													<li class="breadcrumb-item"><a href="{%url 'users-home'%}">Home</a></li>
													<li class="breadcrumb-item active" aria-current="page">Diagnostic Test</li>
												</ol>
											</nav>
											<h2 class="breadcrumb-title">Scheduled Package</h2>
										</div>
									</div>
								</div>
							</div>	
					</div> </div>
						<div class="col-md-12 col-lg-8 col-xl-9" style="margin-top:60px;margin-left:50px;">
							{% for subsubcategory in subsubcategories %}
							<!-- Doctor Widget -->
							{% if forloop.counter <= 2 %}
							<div class="card">
								<div class="card-body">
									<div class="doctor-widget">
										<div class="doc-info-left">
											<div class="doctor-img">
												<a href="doctor-profile.html">
													
													<img src="{{ subsubcategory.image.url }}" class="img-fluid" alt="User Image"height="100%" width="100%">
												</a>
											</div>
											<div class="doc-info-cont">

												<option value="{{ subsubcategory.id }}"><h4 class="doc-name">{{ subsubcategory.name }}</h4></option>
												<p class="doc-speciality">{{ subsubcategory.description }}</p>
												<div class="clinic-services">
													{% comment %} <span>{{ subsubcategory.description_1 }}</span>
													<span> {{ subsubcategory.description_2 }}</span>
													<span> {{ subsubcategory.description_3 }}</span>
													<span> {{ subsubcategory.description_4 }}</span>
													<span> {{ subsubcategory.description_5 }}</span> {% endcomment %}
													<label>
														<input type="checkbox" id="description_1" value="{{ subsubcategory.description_1 }}" data-price="{{ subsubcategory.price_1 }}">
														{{ subsubcategory.description_1 }}
													</label>
													<label>
														<input type="checkbox" id="description_2" value="{{ subsubcategory.description_2 }}" data-price="{{ subsubcategory.price_2 }}">
														{{ subsubcategory.description_2 }}
													</label>
													<label>
														<input type="checkbox" id="description_3" value="{{ subsubcategory.description_3 }}" data-price="{{ subsubcategory.price_3 }}">
														{{ subsubcategory.description_3 }}
													</label>
													<label>
														<input type="checkbox" id="description_4" value="{{ subsubcategory.description_4 }}" data-price="{{ subsubcategory.price_4 }}">
														{{ subsubcategory.description_4 }}
													</label>
													<label>
														<input type="checkbox" id="description_5" value="{{ subsubcategory.description_5 }}" data-price="{{ subsubcategory.price_5 }}">
														{{ subsubcategory.description_5 }}
													</label>
												</div>
												<br>
												<div class="rating">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
													<span class="d-inline-block average-rating">(17)</span>
												</div>
												<div class="clinic-details">
													<p class="doc-location"><i class="#"></i>100Km or 1 month Warranty</p>
													
												</div>
												
											</div>
										</div>
										<div class="doc-info-right">
											<div class="clini-infos">
												<ul>
													
													<li><i class="far fa-hourglass"></i>{{ subsubcategory.hours_taken}} Hours</li>
													 <li> </li> 
													{% comment %} <li><i class="far fa-money-bill-alt"></i> Rs- {{ subsubcategory.price}} </li>  {% endcomment %}
													{% comment %} <li><i class="far fa-money-bill-alt"></i> Rs- {{ subsubcategory.total_price }} </li> {% endcomment %}
			
												</ul>
												<div>
													{% comment %} <h4>Selected Descriptions:</h4> {% endcomment %}
													<ul id="selectedDescriptions">
														<!-- The selected descriptions will be dynamically added here -->
													</ul>
													<h4 id="totalPrice">Total Price: Rs- 0.00</h4>
												</div>


											</div>
											<div class="clinic-booking">
												
											 <a class="btn btn-block btn-outline-primary select-button" style="background-color:#D81324; border: 2px solid #D81324;"onclick="selectCarModel('{{ car_model.id }}')" href="{% url 'selectcar' subsubcategory_id=subsubcategory.id %}">Select Car</a> 
											{% comment %} <a href="{% url 'book_service' subsubcategory.id %}" class="btn btn-primary">Book Now</a> {% endcomment %}
											<!-- Modal -->
											
											</div>
										</div>
									</div>
								</div>
							</div> {% endif %}
							{% endfor %}</select>
							

		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{%static 'assets/js/jquery.min.js'%}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{%static 'assets/js/popper.min.js'%}"></script>
		<script src="{%static 'assets/js/bootstrap.min.js'%}"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="{%static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js'%}"></script>
        <script src="{%static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js'%}"></script>
		
		<!-- Select2 JS -->
		<script src="{%static 'assets/plugins/select2/js/select2.min.js'%}"></script>
		
		<!-- Datetimepicker JS -->
		<script src="{%static 'assets/js/moment.min.js'%}"></script>
		<script src="{%static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>
		
		<!-- Fancybox JS -->
		<script src="{%static 'assets/plugins/fancybox/jquery.fancybox.min.js'%}"></script>
		
		<!-- Custom JS -->
		<script src="{%static 'assets/js/script.js'%}"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		
		
		
<script>
	function updateTotalPrice() {
        // Log the entire subsubcategory object to the console
        console.log('Subsubcategory Object:', JSON.stringify({{ subsubcategory|safe }}));

        var subsubcategoryPrice = parseFloat('{{ subsubcategory.price }}') || 0;
        var total = subsubcategoryPrice;

        // Iterate through each checked description checkbox and add its price to the total
        $('input[type="checkbox"]:checked').each(function () {
            total += parseFloat($(this).data('price')) || 0;
        });

        // Log the selected description price to the console
        console.log('Selected Description Price:', subsubcategoryPrice.toFixed(2));

        // Update the total price element on the page
        $('#totalPrice').text(' Rs-' + total.toFixed(2));

        // Set the value of the hidden input field
        $('#hiddenTotalPrice').val(total);
    }

    // Bind the updateTotalPrice function to the change event of description checkboxes
    $('input[type="checkbox"]').change(function () {
        updateTotalPrice();
    });

    // Trigger the initial calculation on page load
    $(document).ready(function () {
        updateTotalPrice();
    });
	</script>

	</body>

</html>