{% extends 'vehicle/adminbase.html' %}
{% block content %}
<div class="wrapper">
    <h1> Blogs Approval</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in approved_blogs %}
            <tr>
                <td>{{ blog.author_name }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.content }}</td>
                <td><img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 100px; max-height: 100px;"></td>
                <td><form method="POST" action="{% url 'reject_blog' blog.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">&#10008;</button>
                </form>
            </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No approved blogs available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
